/***************** imports *****************/

/***************** print *****************/

@media print {
}

/***************** main *****************/

#root {
  --padding: 1rem;
  --spacing: 0.5rem;
  --radius: 1rem;

  margin: 0 auto;
  padding: 0 2rem;

  display: grid;
  grid-template-rows: auto auto;
}

/***************** sections *****************/

/* =========================================================================== */
/*  */
/* =========================================================================== */

/* ---------------------------------------------- */
/*  */
/* ---------------------------------------------- */

/* =================================================================== */
/* catch all */
/* =================================================================== */
