/***************** imports *****************/

/***************** print *****************/

@media print {
}

/***************** main *****************/

#root {
  --padding: 1rem;
  --spacing: 0.5rem;
  --radius: 1rem;

  padding: var(--spacing);

  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(4, auto);

  justify-content: space-evenly;
  align-items: center;

  gap: var(--spacing);
}

.art-card {
}

img {
  max-height: 75vh;
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto;
  object-fit: contain;

  border: black 0.5rem solid;
  box-sizing: border-box;
}

.art-card-info {
  padding: var(--padding);
  padding-top: var(--spacing);
}

/***************** sections *****************/

/* =========================================================================== */
/*  */
/* =========================================================================== */

/* ---------------------------------------------- */
/*  */
/* ---------------------------------------------- */

/* =================================================================== */
/* catch all */
/* =================================================================== */
