/***************** imports *****************/
.cormorant-garamond-<uniquifier > {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/***************** main *****************/
/***************** sections *****************/

#root {
  --padding: 1rem;
  --spacing: 0.5rem;
  --radius: 1rem;

  padding: var(--spacing);

  display: grid;

  font-family: "Cormorant Garamond", serif;
  font-size: large;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  align-items: center;

  padding: var(--padding);
  padding-top: 0;
}

.header-buttons {
  justify-self: end;

  display: flex;
  gap: var(--spacing);

  button {
    padding: var(--spacing);
    border: none;
    background: transparent;

    /* font-weight: bold; */

    &:hover {
      text-decoration: underline;
    }
  }
}

.art-cards {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(4, auto);

  justify-content: space-evenly;
  align-items: center;

  gap: var(--spacing);
}

.art-card {
}

img {
  max-height: 75vh;
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto;
  object-fit: contain;

  border: black 0.5rem solid;
  box-sizing: border-box;

  &:hover {
    cursor: pointer;
    outline: black solid 2px;
  }
}

.art-card-info {
  padding: var(--padding);
  padding-top: var(--spacing);
}

.game-over-overlay-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.5); /* semi-transparent black */
}
.game-over-overlay {
  --overlay-width: 50rem;
  --overlay-height: 15rem;

  position: fixed;
  top: calc(50vh - var(--overlay-height) / 0.75);
  left: calc(50vw - var(--overlay-width) / 2);
  z-index: 999;

  padding: 5rem;
  width: var(--overlay-width);
  height: var(--overlay-height);

  border: black 0.5rem solid;
  background-color: white;
  /* position: absolute; */

  display: grid;
  grid-template-rows: auto auto;
  justify-content: center;
  gap: var(--padding);

  button {
    margin-top: 20rem;

    width: fit-content;
    margin: 0 auto;

    border: none;
    background-color: white;

    &:hover {
      text-decoration: underline;
    }
  }
}

.score-instruction-container {
  justify-self: center;
  text-align: center;

  i {
    font-size: 0.9rem;
  }
}

/* =========================================================================== */
/*  */
/* =========================================================================== */

/* ---------------------------------------------- */
/*  */
/* ---------------------------------------------- */

/* =================================================================== */
/* catch all */
/* =================================================================== */

/* ============ Tablet ============ */
@media (max-width: 1024px) {
  .header {
    grid-template-columns: auto;
    /* grid-template-rows: repeat(3, 1fr); */

    align-items: center;
    justify-content: center;

    padding: var(--padding);
    padding-top: 0;

    .header-buttons {
      justify-self: center;
    }
  }
}
/* ============ Mobile ============ */
@media (max-width: 767px) {
  .art-cards {
    grid-template-columns: repeat(2, auto);

    justify-content: space-evenly;
    align-items: start;

    gap: var(--spacing);
  }
}
